@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap&#39;');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

@media (min-width: 300px) {

    header {
        display: flex;
        flex-direction: column;
        height: 50vh;
        background-color: cornflowerblue;
        color: whitesmoke;
        padding: 5%;
    }

    header > article {
        text-align: center;
    }

    header > article:nth-child(1) {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    header > article:nth-child(2) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    summary {
        font-size: 30px;
    }

    details > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    details li {
        width: 100%;
        list-style-type: none;
        display: flex;
    }

    details a {
        text-decoration: none;
        color: black;
        width: 100%;
        background-color: whitesmoke;
        padding: 5% 0 5%;
    }

    nav > ul {
        display: none;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15% 0% 15%;
    }

    .features > h2 {
        border-bottom: 1px solid cornflowerblue;
        width: fit-content;
        padding-bottom: 5%;
    }

    .features > article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3%;
    }

    .features div {
        padding: 3%;
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .features i {
        color: cornflowerblue;
        font-size: 25px;
    }

    .features p {
        font-size: 14px;
    }

    .computer {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        background-color: whitesmoke;
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .computer > article {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 2%;
    }

    .computer img {
        width: 100%;
    }

    .computer div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }

    .computer i {
        color: whitesmoke;
        background-color: cornflowerblue;
        font-size: 36px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .computer aside {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 80%;
    }

    .computer p {
        font-size: 14px;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10% 0% 10%;
    }

    .services > h2 {
        width: 100%;
        text-align: center;
        padding: 10% 0% 10%;
    }

    .services h3 {
        font-size: 16px;
        padding: 10% 0% 10%;
    }

    .services > article {
        width: 40%;
        text-align: center;
        padding: 2%;
    }

    .services p {
        font-size: 14px;
    }

    .services > article:nth-child(even) {
        background-color: whitesmoke;
    }

    .services i {
        font-size: 36px;
    }

    .call-action {
        text-align: center;
        background-image: url("/img/dashboard-img.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
    }

    .call-action > p {
        padding-top: 10%;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20% 5%;
        text-align: center;
    }

    .about h2 {
        border-bottom: 1px solid cornflowerblue;
        width: fit-content;
        padding-bottom: 5%;
    }

    .about div {
        padding-top: 10%;
    }

    .about div > figure {
        padding: 10%;
    }

    .about p {
        padding-top: 5%;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: cornflowerblue;
        color: whitesmoke;
        padding: 5%;
        padding-bottom: 10%;
        padding-top: 10%;
        min-height: 35vh;
    }

    .testimonials > h2 {
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 5%;
    }

    .testimonials > p {
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 30vh;
        justify-content: center;
    }

    footer > div,
    footer > span {
        width: 65%;
        display: flex;
        justify-content: space-between;
    }
    
    footer [class^="fa-"] {
        text-decoration: none;
        color: gray;
        font-size: 20px;
    }

    footer a {
        color: cornflowerblue;
        text-decoration: none;
    }
}

@media (min-width: 600px) {

    header {
        font-size: 26px;
    }

    header h1 {
        font-size: 50px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: right;
    }

    details {
        position: relative;
        width: 40%;
        text-align: right;
    }

    details > ul {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .features {
        padding-top: 5%;
        padding-bottom: 3%;
    }

    .features > article {
        width: 80%;
        justify-content: space-evenly;
    }

    .features > h2 {
        font-size: 36px;
        padding-bottom: 2%;
    }

    .features i {
        font-size: 36px;
    }

    .features h4 {
        font-size: 20px;
    }

    .features p {
        font-size: 18px;
    }

    .computer article {
        align-items: center;
    }

    .computer div {
        width: 70%;
    }

    .services {
        padding-top: 5%;
    }

    .services > h2 {
        font-size: 36px;
        padding-top: 1%;
        padding-bottom: 3%;
    }

    .services i {
        font-size: 56px;
    }

    .services h3 {
        font-size: 26px;
    }

    .services p {
        font-size: 20px;
    }

    .call-action > h2 {
        font-size: 36px;
    }

    .call-action > p {
        font-size: 24px;
    }

    .about {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .about > h2 {
        padding-bottom: 2%;
        font-size: 36px;
    }

    .about div > figure {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .about figcaption {
        font-size: 30px;
    }

    .about p {
        font-size: 24px;
    }

    .about img {
        width: 80%;
    }

    .testimonials {
        min-height: 15vh;
    }

    .testimonials > h2 {
        padding-bottom: 2%;
        font-size: 36px;
    }

    .testimonials > p {
        font-size: 20px;
        padding-top: 2%;
    }

    footer {
        min-height: 15vh;
    }

    footer > div,
    footer > span {
        justify-content: center;
        column-gap: 15px;
    }
}

@media (min-width: 1000px) {

    header > article:nth-child(1) {
        width: 100%;
    }

    nav {
        width: 60%;
    }

    nav > ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav li {
        list-style-type: none;
        width: 100%;
        display: flex;
    }

    nav a {
        width: 100%;
        color: whitesmoke;
        text-decoration: none;
        padding: 5%;
        font-size: 18px;
        
    }

    nav a:hover {
        border: 1px solid whitesmoke;
        border-radius: 5px;
        background-color: darkslateblue;
    }

    details {
        display: none;
    }

    .features {
        padding-bottom: 0%;
    }

    .features article {
        flex-wrap: unset;
    }

    .computer {
        flex-direction: row;
        justify-content: center;
    }

    .computer > article {
        padding: 1%;
        width: 45%;
    }

    .computer > article:nth-child(2) {
        align-items: flex-start;
    }

    .services > h2 {
        width: 100%;
        font-size: 50px;
        padding-bottom: 2%;
    }

    .services > article {
        width: 25%;
    }

    .call-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .call-action > p {
        padding-top: 3%;
        width: 80%;
        font-size: 28px;
    }

    .about > h2,
    .call-action > h2,
    .features > h2 {
        width: fit-content;
        border-bottom: 2px solid cornflowerblue;
        font-size: 50px;
        padding-bottom: 2%;
    }

    .about > div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 95%;
        padding-top: 5%;
    }

    .about div > figure {
        width: 30%;
        padding: 0;
    }

    .testimonials {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .testimonials > h2 {
        width: fit-content;
        border-bottom: 2px solid whitesmoke;
        font-size: 50px;
        padding-bottom: 2%;
    }

    .testimonials > p {
        font-size: 30px;
    }

    footer [class^="fa-"] {
        font-size: 28px;
    }
}
