@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap&#39;');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

@media (min-width: 300px) {

    .call-action {
        text-align: center;
        background-image: url("/img/dashboard-img.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10%;
    }

    .call-action > p {
        padding-top: 10%;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20% 5%;
        text-align: center;
    }

    .about h2 {
        border-bottom: 1px solid cornflowerblue;
        width: fit-content;
        padding-bottom: 5%;
    }

    .about div {
        padding-top: 10%;
    }

    .about div > figure {
        padding: 10%;
    }

    .about p {
        padding-top: 5%;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: cornflowerblue;
        color: whitesmoke;
        padding: 5%;
        padding-bottom: 10%;
        padding-top: 10%;
        min-height: 35vh;
    }

    .testimonials > h2 {
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 5%;
    }

    .testimonials > p {
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 30vh;
        justify-content: center;
    }

    footer > div,
    footer > span {
        width: 65%;
        display: flex;
        justify-content: space-between;
    }
    
    footer [class^="fa-"] {
        text-decoration: none;
        color: gray;
        font-size: 20px;
    }

    footer a {
        color: cornflowerblue;
        text-decoration: none;
    }
}